<ion-header>
    <ion-toolbar>
      <ion-title>
        Chapter Three: Marriage
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="welcome-card">
      <img src="../../../assets/Rusnac 1.3.19-533.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Page: 3</ion-card-subtitle>
        <ion-card-title>Marriage</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>We got married on Jan 3rd 2019 and I couldn't have been happier. But even after a year of us being married you make me happier each and every day. You are my everything. Happy 3 year anaversery! Only one more month till our 1 year anniversary, but we got this!</p>
      </ion-card-content>
    </ion-card>
      
      <ion-tabs>
  
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="chapter2">
            <ion-icon name="arrow-round-back"></ion-icon>
            <ion-label>Chapter Two</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="tab2">
            <ion-icon name="bookmark"></ion-icon>
            <ion-label>TOC</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="tab1">
            <ion-icon name="book"></ion-icon>
            <ion-label>Book Cover</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      
      </ion-tabs>
  </ion-content>
  