<ion-header>
    <ion-toolbar>
      <ion-title>
        Chapter Two: Getting Engaged
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="welcome-card">
      <img src="../../assets/Rusnac 1.3.19-700.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Page: 2</ion-card-subtitle>
        <ion-card-title>Getting Engaged</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>After a year together I knew that you were the one I wanted to spend the rest of my life with. I didn't think I would be as nervous to ask you as I was. You still said yes under a star lit sky.</p>
      </ion-card-content>
    </ion-card>
      
      <ion-tabs>
  
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="chapter1">
            <ion-icon name="arrow-round-back"></ion-icon>
            <ion-label>Chapter One</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="tab2">
            <ion-icon name="bookmark"></ion-icon>
            <ion-label>TOC</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="chapter3">
            <ion-icon name="arrow-round-forward"></ion-icon>
            <ion-label>Chapter Three</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      
      </ion-tabs>
  </ion-content>
  