<ion-header>
  <ion-toolbar>
    <ion-title>
      Three Years and Counting
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="../../assets/1511645433208-01.jpeg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>A Love Story</ion-card-subtitle>
        <ion-card-title>Three Years and Counting</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A short story about how my wife and I met and fell in love.</p>
      </ion-card-content>
    </ion-card>

    <ion-tabs>

      <ion-tab-bar slot="bottom">
        
    
        <ion-tab-button tab="tab2">
          <ion-icon name="bookmark"></ion-icon>
          <ion-label>TOC</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="chapter1">
          <ion-icon name="arrow-round-forward"></ion-icon>
          <ion-label>Chapter One</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>


    
</ion-content>
